{% extends "files/templates/files/file_base.html" %}

{% block title %} Afyle - Files {% endblock %}

{% block content %}

<h1> Afyle </h1>



<p>username: {{ user.get_username }}</p>
<p>email: {{ user.email }} </p>
<p>password: <a href="/password_change">change password</a></p>

<p>Storage Used: {{ userStorage.storage_used_B }} B / Storage Max: {{ userStorage.storage_max_B }} B</p>
<p>Upload Bandwidth Used: {{ userStorage.bandwidth_upload_used_kB }} kB / Bandwidth Max: {{ userStorage.bandwidth_upload_max_kB }}</p>
<p>Upload Bandwidth Download: {{ userStorage.bandwidth_download_used_kB }} kB / Bandwidth Max: {{ userStorage.bandwidth_download_max_kB }}</p>

{% endblock %}