{% extends "files/templates/files/file_base.html" %}

{% block title %} Afyle - Files {% endblock %}

{% block content %}

<h1> Afyle </h1>



<p>username: {{ user.get_username }}</p>
<p>email: {{ user.email }} </p>
<p>password: <a href="/password_change">change password</a></p>

<table>
    <tr>
        <th>Criteria</th>
        <th>Used</th>
        <th>Max</th>
    </tr>
    <tr>
        <td>Storage (B)</td>
        <td>{{ userStorage.storage_used_B }}</td>
        <td>{{ userStorage.storage_max_B }}</td>
    </tr>
    <tr>
        <td>Upload Bandwidth (kB)</td>
        <td>{{ userStorage.bandwidth_upload_used_kB }}</td>
        <td>{{ userStorage.bandwidth_upload_max_kB }}</td>
    </tr>
    <tr>
        <td>Download Bandwidth (kB)</td>
        <td>{{ userStorage.bandwidth_download_used_kB }}</td>
        <td>{{ userStorage.bandwidth_download_max_kB }}</td>
    </tr>
</table>

{% endblock %}