{% extends "files/templates/files/file_base.html" %}

{% block title %} Afyle - Kanbans {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    {% for kanban in kanbans %}
    <tr>
        <td><a href="/kanban/{{type}}/{{user}}/{{kanban.title}}">{{ kanban.title }}</a></td>
        <td>{{ kanban.description }}</td>
    </tr>
    {% endfor %}

</table>

<form method="POST" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Create Kanban</button>
</form>



{% endblock %}