{% extends "files/templates/files/base.html" %}

{% block title %} Afyle - Privacy Policy {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<h1> Afyle </h1>
<h2> Privacy Policy </h2>
<p>Updated: 26 July 2022</p>

<p>Afyle, website is hosted by AWS in the Ohio Region.</p>

<h3>Collected Information</h3>
<P>Username, email address is collected and stored for login.</P>
<p>Email is not shared with third parties or used to send newsletters but may be used for password reset.</p>
<p>IP addresses of connecting devices may be collected for security purposes.</p><br>

<h3>Cookies</h3>
<p>Several cookies are used for website functionality.</p>
<p>A csrftoken is used for security</p>
<p>A sessionid is used to identify user after login</p><br>


{% endblock %}