<!--

    Introduction
    Governing and Applicable laws
    Contribution (user uploaded content)
    Disclaimer and Warranty
    User Registration
    Acceptable Use
    Prohibited Activities
    Term and Termination
    Modifications and Interruptions

-->

{% extends "files/templates/files/base.html" %}

{% block title %} Afyle - Privacy Policy {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Afyle </h1>
<h2>Terms and Conditions </h2>
<p>Updated 26 July 2022</p><br>

<h3>Introduction</h3>
<p>Afyle ("Service") is a platform for doing nothing.</p>
<p>"User" refers to anyone that uses this Service.</p>

<p>Use of the Service is subject to these terms which may be updated.</p>
<p>The Service is available at the User's own risk.</p>
<p>File storage is not guaranteed. At any time, files uploaded by a User may become unavailable or permanently deleted. </p>
<p>In the free tier, the maximum storage quota is subject to change. If the quota becomes lower than the amount stored by the User, the Service will strive to keep the files available for download. However, additional uploads beyond the limit will not be allowed</p>
<p>Currently, additional storage is not available to be bought.</p>

<h3>User Registration</h3>
<p>User password should be kept confidential.</p>
<p>The password should be unique to this website</p>

<h3>Acceptable Use</h3>

<h3>Restrictions</h3>
<p>The Service should not be used for illegal activites</p>

<h3>Termination</h3>
<p>The Service has the right to terminate a user account for violating these terms</p>
<p>At any time, this Service may be changed, limited, or be discontinued. The Service is not liable for any effects that changes have on the User.</p>
<p>A change in the Service includes the reduction of storage and bandwidth available for file storage.</p>


{% endblock %}